/* GENERAL STYLES */
* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

:root {
    --color-main-light: #E1D4C9;
    --color-main-dark: #403F3D;
    --color-highlight: #B0907A;
    --color-border-primary: #C1B6AD;
    --color-border-dark: #665F55;
}


body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0%;
}

.container {
  display: block;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 1.25rem 2.5rem 2.5rem 2.5rem;
  background: var(--color-main-light);
}

.hightlight_text {
    color: var(--color-highlight);
    font-style: italic;
}

.moon_icon,
.header_link,
.hero_btn {
    transition: 0.3s all ease;  
}

/* TYPOGRAPHY */
.hero_title {
    font-size: 4.5rem;
    font-weight: 600;
    line-height: 105%;
}

.hero_text,
.hero_btn {
    font-size: 1rem;
    line-height: 150%;
    margin: 2.5em 0 2.5em 0;
}

/* BUTTONS */
.hero_btn {
    color: var(--color-main-dark);
    background: var(--color-main-light);
    padding: 1.25em 4.876em 1.25em 4.876em;
    border-radius: 6.25em;
}

.hero_btn:hover {
    background: var(--color-main-light) url(./img/icons/coffee-cup.png) no-repeat right 3em center;
}

/* HEADER */
.header_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo_img {
    width: 6.25rem;
    height: 3.75rem;
}

.header_list {
    display: flex;
    gap: 2.5em;
}

.header_link {
    font-size: 1rem;
    font-weight: 600;
    line-height: 150%;
    color: var(--color-main-dark);
}

.header_link:hover {
    border-bottom: 0.125em solid var(--color-main-dark);
}

.header_options {
    display: flex;
    align-items: center;
    gap: 1.5em;
}

.theme_switch {
    display: flex;
    gap: 0.5em;
    padding: 0.25em;
    border: 1px solid var(--color-border-primary);
    border-radius: 6.25em;
}

.header_icons_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    cursor: pointer;

}

.sun_icon {
    background: var(--color-highlight) url(./img/icons/Sun.svg) no-repeat center center;
    background-size: 22px 22px;
}

.moon_icon {
    background: url(./img/icons/Moon-dark.svg) no-repeat center center;
    background-size: 22px 22px;
}

.moon_icon:hover {
    background: var(--color-border-dark) url(./img/icons/Moon-light.svg) no-repeat center center;
}

/* MAIN */

/* hero section */
.hero_container {
    position: relative;
    min-height: 40.25rem;
    border-radius: 2.5em;
    overflow: hidden;
    margin-top: 1.25em;
}

.hero_video {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}

.hero_content {
    max-width: 33.125em;
    position: relative;
    z-index: 1;
    color: var(--color-main-light);
    margin:  6.25em auto auto 6.25em;
}
/* favorite section */
/* about section */
/* mobile_app section */
/* FOOTER */